* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
@font-face {
    font-family: 'BYekan+';
    src: url('BYekan+.ttf') format('truetype'); 
  }
body {
    font-family: 'BYekan+', sans-serif; 
}
.header_layout {
    background-color: #FFFFFF;
    display: flex;
    justify-content: space-between;
}

button, li, a {
    font-family: 'BYekan+', sans-serif; 
    text-decoration: none;
    
}

button {
    border-width: 1px;
}

.header_left_container {
    display: flex;
    margin: 30px;
    align-items: start;
}
main {
    background-image: linear-gradient(#E0EDFF, white);
    height: 2000px;
    position: relative;
    
}

.change_mode_button {
    border-radius: 6px;
    width: 2.5rem;
    height: 2.5rem;
    border-color: #E3E3E3;
    gap: 8px;
    cursor: pointer;
}

.change_mode_button img {
    width: 1.5rem;
    height: 1.5rem;
}

.login_button {
    font-weight: 600;
    font-size: 16px;
    padding: 8px, 24px, 8px, 24px;
    border-radius: 6px;
    width: 10.4rem;
    height: 2.5rem;
    background-color: #2C7EF8;
    color: #FFFFFF;
    border-color: #2C7EF8;
    cursor: pointer;
    margin-left: 13px;
}


.header_right_container {
    display: flex;
    justify-content: space-between;
}

.nav__links {
    list-style: none;
    text-decoration: none;
    list-style: none;
}
.nav__links li {
    display: inline-block;
    padding: auto;
    margin: 35px;
}

.contactUs .aboutUs .mainPgae a {
    display: inline-block;
    color: #666666;
    font-weight: 600;
    font-size: 16px;  
}

.quera_list a {
    font-size: 20px;
    font-weight: 600;
    color: #141414;
   text-decoration-color: #141414;
  
}

.nav__links a:hover {
    color: #2C7EF8;
} 

.circle1 {
    width: 452px;
    height: 452px;
    top: 600px;
    left: 488px;
    transform: rotate(180deg);
    opacity: 0.6;
    background: linear-gradient(#EFEBFF 0%, #E0EDFF 100%);
    box-shadow: -3px 4px 16px 0 #000000;
    border-radius: 50%;
    position: absolute;
    top: 33px;
    left: 15px;
}

.circle2 {
    width: 452px;
    height: 452px;
    top: 600px;
    left: 488px;
    transform: rotate(180deg);
    opacity: 0.6;
    background: linear-gradient(#EFEBFF 0%, #E0EDFF 100%);
    box-shadow: -3px 4px 16px 0 #000000;
    border-radius: 50%;
    position: absolute;
    top: 150px;
    right: -15px;
   
}

.bold_content {
    padding-top: 50px;
}

.focus {
    /* width: 431px;
    height: 83px;  */
    padding-top: 7rem; 
    margin-left: auto;
    margin-right: auto;
    justify-content: center; 
    
}

.focus h2 {
    font-weight: 400;
    font-size: 46px;
    text-align: center;
    line-height: 82.8px;
}

h1 {
    font-weight: 900;
    font-size: 64px;
    text-align: center;
    margin-bottom: 5.4rem;
}

.quote {
    width: 51.6rem;
    height: 3.8rem;
    margin-left: auto;
    margin-right: auto;
}

.quote p {
    font-weight: 400;
    font-size: 20px;
    line-height: 35px;
    text-align: center;
    margin-left: auto;
    margin-right: auto; 
}

.double_buttons {
    display: flex;
    justify-content: center;
    margin-top: 2.5rem;
}

.login_button_2 {
    font-weight: 600;
    font-size: 16px;
    padding: 8px, 24px, 8px, 24px;
    border-radius: 6px;
    width: 167px;
    height: 40px;
    background-color: #2C7EF8;
    color: #FFFFFF;
    border-color: #2C7EF8;
    cursor: pointer;
    margin-left: 13px;
}

.about_us_2 {
    font-weight: 600;
    font-size: 16px;
    padding: 8px, 24px, 8px, 24px;
    border-radius: 6px;
    width: 167px;
    height: 40px;
    background-color: #EBF3FE;
    border-color: #EBF3FE;
    color: #2C7EF8;
    cursor: pointer;
}

.image1 img {
    margin: auto;
    padding: auto;
    display: flex;
    justify-content: center;
}